# python
*.egg-info
*_version.py
*.pyc
*__pycache__
.mypy_cache

# pytask
.pytask.sqlite3
.pytask

# bld
bld/

# _final_project_ideas
_final_project_ideas/

# latex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
